$bodyColor: #181c31;
$darkGray: #252a42;
$darkgray-hover: #2c3149;
$textColor: #8c8e98;
$blueColor: #006bff;
$darkBlueColor: #0361e6;
$heart-color: #F22E52;
$redColor: #d90d1e;
$transition: all 0.3s ease-in-out;
$horizontal-space: 14%;
$solidBorder: 1px solid rgb(45 47 64 / 1);
$dot: #57ebb9;
$duration: 3s;